.flash-card {
  min-width: 180px;
  flex: 0 0 auto;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.flash-card img {
  width: 180px;
  height: 150px;
}


.custom-scrollbar {
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;

  /* Hide scrollbar for all browsers */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

.custom-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}
